:root {
  /* Colors */
  --mainbackground: linear-gradient(180deg, #f0e6f5 0%, #9e83b8 100%);
  --midnightorchid: #392347;
  --duskylilac: #6d5881;
  --botanicalgreen: #1b4c16;
  --irismist: #b8a3c2;
  --plumblossom: #d0c4d8;
  --lightpurple: #f0e6f5;

  /* Font-styles */
  --maincursive: "Great Vibes", cursive;
  --secondarycursive: "Parisienne", cursive;
  --h1: "Montserrat", sans-serif;
  --bodytext_buttons: "Raleway", sans-serif;
}

/* ============ MAIN ============ */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5% 10% 7% 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
}

.name-block {
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-below {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 7%;
  box-sizing: border-box;
}

.home-content {
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  width: 409px;
}

/* BUTTON */
.project-btn button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid var(--lightpurple);
  background: rgba(184, 163, 194, 0.3);
  backdrop-filter: blur(3.5px);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn button svg {
  transition: transform 0.3s ease;
}

.project-btn button:hover {
  background: rgba(184, 163, 194, 0.5);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-btn button:hover svg {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* TEXT */
.bold-name {
  font-family: var(--h1);
  color: var(--lightpurple);
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-shadow:
    0px 4px 10px rgba(0, 0, 0, 0.4),
    0px 10px 30px rgba(0, 0, 0, 0.2);
}

.cursive-name {
  font-family: var(--maincursive);
  color: var(--lightpurple);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.home-content p {
  font-family: var(--bodytext_buttons);
  color: var(--lightpurple);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 570px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

/* THE DECORATIVE LINES */
.horizontal-line {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  height: 2px;
  background-color: var(--lightpurple);
  opacity: 1;
}

.vertical-line {
  position: absolute;
  right: 55%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--lightpurple);
  opacity: 1;
}

.flower-container {
  position: absolute;
  top: 70%;
  right: 55%;
  transform: translate(50%, -50%);
  z-index: 3;
}
